In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Load dataframe of regular season game stats from 2010-2021
reg_det = pd.read_csv('WRegularSeasonDetailedResults.csv')
reg_det

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60344,2021,131,3465,78,3213,60,N,0,24,61,...,24,18,24,12,20,10,10,8,2,14
60345,2021,132,3124,76,3452,50,N,0,33,66,...,16,13,14,8,22,4,14,5,7,17
60346,2021,132,3133,78,3179,70,N,0,28,64,...,19,12,15,11,25,17,12,4,2,14
60347,2021,132,3195,84,3251,62,N,0,26,52,...,20,15,15,8,22,9,18,7,2,20
60348,2021,132,3372,56,3358,45,N,0,23,49,...,13,10,14,20,18,10,19,8,3,15

In [3]:
#Create GameID number
reg_det.reset_index(inplace=True)
reg_det.rename(columns={'index': 'GameID'}, inplace=True)
reg_det.head()

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14

In [4]:
#Create copy of dataframe for winning teams
reg_win = reg_det.copy()

#Rename columns: winning team stats to team stats and losing team stats to opposing team stats
reg_win.rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc', 'WFGM': 'FGM', 'WFGA': 'FGA',
                        'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', 'WOR': 'OR', 'WDR': 'DR',
                        'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF', 'LTeamID': 'OTeamID',
                        'LScore': 'OScore', 'LFGM': 'OFGM', 'LFGA': 'OFGA', 'LFGM3': 'OFGM3', 'LFGA3': 'OFGA3',
                        'LFTM': 'OFTM', 'LFTA': 'OFTA', 'LOR': 'OOR', 'LDR': 'ODR', 'LAst': 'OAst', 'LTO': 'OTO',
                        'LStl': 'OStl', 'LBlk': 'OBlk', 'LPF': 'OPF'}, inplace=True)

In [5]:
#Create copy of dataframe for losing teams
reg_lose = reg_det.copy()

#Rename columns: losing team stats to team stats and winning team stats to opposing team stats
reg_lose.rename(columns={'WTeamID': 'OTeamID', 'WScore': 'OScore', 'WLoc': 'Loc', 'WFGM': 'OFGM', 'WFGA': 'OFGA',
                        'WFGM3': 'OFGM3', 'WFGA3': 'OFGA3', 'WFTM': 'OFTM', 'WFTA': 'OFTA', 'WOR': 'OOR', 'WDR': 'ODR',
                        'WAst': 'OAst', 'WTO': 'OTO', 'WStl': 'OStl', 'WBlk': 'OBlk', 'WPF': 'OPF', 'LTeamID': 'TeamID',
                        'LScore': 'Score', 'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3', 'LFGA3': 'FGA3',
                        'LFTM': 'FTM', 'LFTA': 'FTA', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO',
                        'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}, inplace=True)

In [6]:
#Create function to swap Home and Away for losing team dataframes
def loser_location(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return loc

In [7]:
#Swap Home and Away
reg_lose['Loc'] = reg_lose['Loc'].apply(loser_location)

#Add result column to winning and losing team dataframes
reg_win['Result'] = 1
reg_lose['Result'] = 0

In [8]:
#Reorder columns of winning teams
reg_win = reg_win[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

#Reorder columns of losing teams
reg_lose = reg_lose[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [9]:
#Combine winning and losing team dataframes
reg = pd.concat((reg_win, reg_lose)).reset_index(drop=True)

In [10]:
#Create possession and pace stats

#Possessions = FGA-OR+TO+.475*FTA
reg['Poss'] = reg['FGA'] - reg['OR'] + reg['TO'] + 0.475 * reg['FTA']
reg['OPoss'] = reg['OFGA'] - reg['OOR'] + reg['OTO'] + 0.475 * reg['OFTA']

#Pace is the average amount of possessions of the game between both teams
reg['Pace'] = (reg['OPoss'] + reg['Poss']) / 2

In [11]:
#Create offensive and defensive ratings for the team per game

#Offensive Rating = Score/Pace * 100
#Defensive Rating = Opposing Score/Pace * 100
reg['OFF'] = reg['Score'] / reg['Pace'] * 100
reg['DEF'] = reg['OScore'] / reg['Pace'] * 100

In [12]:
#Group by season and team id to get a team's average offensive rating for the season
off_rating = reg.groupby(['Season', 'TeamID']).mean()

#Select only the offensive rating column
off_rating = off_rating[['OFF']]

#Rename column to reflect the team's average offensive rating for the season
off_rating.rename(columns={'OFF': 'AvgOFF'}, inplace=True)

#Reset index
off_rating.reset_index(inplace=True)

#Merge team's average offensive rating to regular season game data
reg = pd.merge(reg, off_rating, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [13]:
#Select all games that did not go to overtime to get accurate number of possessions per game (pace)
pace_rating = reg[reg.NumOT == 0]

#Group by season and team id to get a team's average pace rating for the season
pace_rating = reg.groupby(['Season', 'TeamID']).mean()
pace_rating = pace_rating[['Pace']]
pace_rating.rename(columns={'Pace': 'AvgPace'}, inplace=True)
pace_rating.reset_index(inplace=True)
reg = pd.merge(reg, pace_rating, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [14]:
#Group by season and opposing team id to get a team's average defensive rating for the season
def_rating = reg.groupby(['Season', 'TeamID']).mean()
def_rating = def_rating[['DEF']]
def_rating.rename(columns={'DEF': 'AvgDEF'}, inplace=True)
def_rating.reset_index(inplace=True)
reg = pd.merge(reg, def_rating, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [15]:
#Group by season and team id to get a team's number of wins for the season
wins = reg.groupby(['Season', 'TeamID']).sum()
wins = wins[['Result']]
wins.rename(columns={'Result': 'Wins'}, inplace=True)
wins.reset_index(inplace=True)

In [16]:
#Group by season and team id to get a team's number of games for the season
games = reg.groupby(['Season', 'TeamID']).count()
games = games[['Result']]
games.rename(columns={'Result': 'Games'}, inplace=True)
games.reset_index(inplace=True)

In [17]:
#Merge wins and games dataframe on season and team id
win_games = pd.merge(wins, games, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [18]:
#Calculate winning percentage = wins/games
win_games['WinP'] = win_games['Wins'] / win_games['Games']

In [19]:
#Merge winning percentage dataframe with regular season game dataframe
reg_add = pd.merge(reg, win_games, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [20]:
#Create a dataframe for opposing team's winning percentage

#Drops wins and games columns kepping winning percentage column
opp_win = win_games.drop(['Wins', 'Games'], axis=1)

#Rename columns from team to opponent
opp_win.rename(columns={'WinP': 'OWinP', 'TeamID': 'OTeamID'}, inplace=True)

#Merge opponents winning percentage onto regular season game dataframe
reg_add_opp = pd.merge(reg_add, opp_win, how='right', left_on=['Season', 'OTeamID'], right_on=['Season', 'OTeamID'])

In [21]:
#Group by season and team id to get a team's average winning percentage of the opposing team
avg_opp = reg_add_opp.groupby(['Season', 'TeamID']).mean()
avg_opp = avg_opp[['OWinP']]
avg_opp.reset_index(inplace=True)

#Drops the column with the winning percentage of the opposing team
reg_add_opp.drop(['OWinP'], axis=1, inplace=True)

#Merge data frame with the average winning percentage of the opposing team
reg_avg_opp = pd.merge(reg_add, avg_opp, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [22]:
#Group by season and team id to get a team's opponent's winning percentage, average offensive and defensive ratings
oo_win = reg_avg_opp.groupby(['Season', 'TeamID']).mean()
oo_win = oo_win[['OWinP', 'AvgOFF', 'AvgDEF']]
oo_win.reset_index(inplace=True)

#Rename columns to merge with opponent's team id
oo_win.rename(columns={'OWinP': 'OppOWinP', 'AvgOFF':'OAvgOFF', 'AvgDEF':'OAvgDEF', 'TeamID': 'OTeamID'}, inplace=True)

reg_oo = pd.merge(reg_avg_opp, oo_win, how='right', left_on=['Season', 'OTeamID'], right_on=['Season', 'OTeamID'])

#Group by season and team id to get a team's opponent's opponent's winning percentage and opponent's average
#offensive and defensive ratings
avg_opp_opp = reg_oo.groupby(['Season', 'TeamID']).mean()
avg_opp_opp = avg_opp_opp[['OppOWinP', 'OAvgOFF', 'OAvgDEF']]
avg_opp_opp.reset_index(inplace=True)

#Removes the columns that the averages were just calculated from
reg_oo.drop(['OppOWinP', 'OAvgOFF', 'OAvgDEF'], axis=1, inplace=True)
reg_rpi = pd.merge(reg_oo, avg_opp_opp, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])
reg_rpi

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,AvgOFF,AvgPace,AvgDEF,Wins,Games,WinP,OWinP,OppOWinP,OAvgOFF,OAvgDEF
0,0,2010,11,H,0,3103,63,23,54,5,...,90.605658,68.811250,86.870814,17,30,0.566667,0.478130,0.488330,90.253684,90.845334
1,155,2010,13,H,0,3231,75,26,59,7,...,89.807803,73.539583,88.953216,14,30,0.466667,0.571447,0.551366,91.843865,87.814080
2,334,2010,17,A,0,3296,71,29,65,3,...,90.923944,71.699138,97.917660,10,29,0.344828,0.483175,0.495721,90.851615,92.094917
3,561,2010,22,H,0,3165,73,22,49,10,...,82.585223,69.506731,100.813683,6,26,0.230769,0.482649,0.477240,87.197726,88.376724
4,805,2010,26,H,0,3326,88,33,72,8,...,107.144554,72.645956,84.592157,30,34,0.882353,0.554427,0.552660,90.897191,87.834420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120693,59608,2021,110,A,0,3213,64,26,59,4,...,95.086884,74.688636,85.894437,15,22,0.681818,0.491708,0.455223,88.519018,89.538616
120694,60100,2021,123,H,0,3370,64,23,79,8,...,83.196112,77.797159,91.093741,8,22,0.363636,0.461409,0.478817,87.619343,90.791250
120695,60156,2021,124,H,0,3370,46,15,64,4,...,83.196112,77.797159,91.093741,8,22,0.363636,0.461409,0.478817,87.619343,90.791250
120696,60328,2021,130,N,0,3308,54,17,56,4,...,82.502764,75.037500,84.446086,8,20,0.400000,0.496595,0.468129,88.380188,89.805392
120697,60344,2021,131,N,0,3213,60,19,62,4,...,95.086884,74.688636,85.894437,15,22,0.681818,0.491708,0.455223,88.519018,89.538616

In [23]:
#Calculate RPI = .25 * winning percentage + .5 * opponent's winning percentage + .25 opponent's opponent's winning percentage
reg_rpi['RPI'] = 0.25*reg_rpi['WinP'] + 0.5*reg_rpi['OWinP'] + 0.25*reg_rpi['OppOWinP']
reg_rpi

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,AvgPace,AvgDEF,Wins,Games,WinP,OWinP,OppOWinP,OAvgOFF,OAvgDEF,RPI
0,0,2010,11,H,0,3103,63,23,54,5,...,68.811250,86.870814,17,30,0.566667,0.478130,0.488330,90.253684,90.845334,0.502814
1,155,2010,13,H,0,3231,75,26,59,7,...,73.539583,88.953216,14,30,0.466667,0.571447,0.551366,91.843865,87.814080,0.540232
2,334,2010,17,A,0,3296,71,29,65,3,...,71.699138,97.917660,10,29,0.344828,0.483175,0.495721,90.851615,92.094917,0.451725
3,561,2010,22,H,0,3165,73,22,49,10,...,69.506731,100.813683,6,26,0.230769,0.482649,0.477240,87.197726,88.376724,0.418327
4,805,2010,26,H,0,3326,88,33,72,8,...,72.645956,84.592157,30,34,0.882353,0.554427,0.552660,90.897191,87.834420,0.635967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120693,59608,2021,110,A,0,3213,64,26,59,4,...,74.688636,85.894437,15,22,0.681818,0.491708,0.455223,88.519018,89.538616,0.530114
120694,60100,2021,123,H,0,3370,64,23,79,8,...,77.797159,91.093741,8,22,0.363636,0.461409,0.478817,87.619343,90.791250,0.441318
120695,60156,2021,124,H,0,3370,46,15,64,4,...,77.797159,91.093741,8,22,0.363636,0.461409,0.478817,87.619343,90.791250,0.441318
120696,60328,2021,130,N,0,3308,54,17,56,4,...,75.037500,84.446086,8,20,0.400000,0.496595,0.468129,88.380188,89.805392,0.465330
120697,60344,2021,131,N,0,3213,60,19,62,4,...,74.688636,85.894437,15,22,0.681818,0.491708,0.455223,88.519018,89.538616,0.530114

In [24]:
#Save to csv
reg_rpi.to_csv("efficiency_stats.csv", index=False)